<p>admin/profile works!</p>
<hr />
<div>
  <label class="w-24 inline-block" for="">Nombre:</label>
  <span class="font-bold">
    {{ ciudadano?.nombres }}
  </span>
</div>

<div>
  <label class="w-24 inline-block" for="">Apellidos:</label>
  <span class="font-bold">
    {{ ciudadano?.apellidos }}
  </span>
</div>

<div>
  <label class="w-24 inline-block" for="">Email:</label>
  <span class="font-bold">
    {{ ciudadano?.email }}
  </span>
</div>

<div>
  <label class="w-24 inline-block" for="">Roles:</label>
  <span class="font-bold">
    {{ ciudadano?.roles | json }}
  </span>
</div>

<div>
  <label class="w-24 inline-block" for="">Creado:</label>
  <span class="font-bold">
    {{ ciudadano?.createdAt | date }}
  </span>
</div>

<div>
  <label class="w-24 inline-block" for="">Modificado:</label>
  <span class="font-bold">
    {{ ciudadano?.updatedAt | date }}
  </span>
</div>
<hr />
<button mat-raised-button color="primary" (click)="logout()">Logout</button>
