<div id="menu">
  <a [routerLink]="['/home/welcome']" routerLinkActive="router-link-active"
    >Welcome</a
  >
  -
  <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active"
    >Login</a
  >
  -
  <a [routerLink]="['/admin/home']" routerLinkActive="router-link-active"
    >Admin</a
  >
  -
  <a [routerLink]="['/admin/profile']" routerLinkActive="router-link-active"
    >Perfil</a
  >

  -
  <a [routerLink]="['/admin/config']" routerLinkActive="router-link-active"
    >Configuración</a
  >
</div>
